/* header */
.header {
    height: var(--header-heigth);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    color: var(--white-color);
    position: relative;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-nav-height);

}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0;

}

.header__navbar-item {
    display: inline-block;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 8px;

}

.header__navbar-item-link--strong {
    font-weight: 400;
}

.header__navbar-item--seperate::after {
    display: block;
    content: "";
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin-left: 4px;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.title-noselect {
    cursor: text;
    color: var(--white-color);
}

.header-with-search {
    height: var(--header-search-heigth);
    display: flex;
    align-items: center;
}

.header__search-mobile-icon {
    padding: 0 10px;
    font-size: 2.5rem;
    display: none;
}

.header__menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 210px;
    z-index: 9999;
    width: 180px;
    background-color: var(--white-color);
    box-shadow: 1px 2px rgb(0 0 0 / 5%);
    animation: HeaderMenuFadeIn 0.3s linear;
}
@keyframes HeaderMenuFadeIn {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
.ovelay {
    display: none;
    z-index: 1000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
}
.header__menu-item {
    color: var(--text-color);
    font-size: 1.6rem;
}
.header__menu-mobile-icon {
    padding-right: 30px;
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
}
.header__menu-icon {
    padding-right: 8px;
}
.menu__close-icon {
    color: var(--text-color);
    font-size: 2.4rem;
    margin-top: 12px;
    margin-left: 140px;
}

.header__menu-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 30px;
}

.header__menu-item {
    border-bottom: 1px solid #e5e5e5 ;
    padding: 15px;
}

.header__menu-item-link {
    color: var(--text-color);
    text-decoration: none;
}

.header__logo a {
    display: block;
    line-height: 0;
}

.header__logo-img {
    height: 80px;
    padding-right: 70px;
}

.header__search {
    background-color: var(--white-color);
    border-radius: 4px;
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--text-color);

}

.header__search-input {
    flex: 1;
    outline: none;
    font-size: 1.4rem;
    border-radius: 3px;
    padding-left: 16px;
    border: none;
    height: 100%;
}

/* SORT ITEM */
.header__sort-bar {
    display: none;
}


/* CART */
.header__cart {
    width: 180px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 2px 4px;

}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    width: 400px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 10px);
    right: -6%;
    box-shadow: 4px 4px 10px #ccc;
    display: none;
    align-items: center;
    z-index: 9999;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    cursor: pointer;
    z-index: 999;
}

.cart__no-cart {
    height: 200px;
    padding: 10px 0;
    margin: 0 auto;
}

.cart__no-cart-title {
    color: black;
    font-size: 1.6rem;
    padding-bottom: 16px;
    display: block;
}

.header__cart-list::after {
    display: block;
    content: "";
    position: absolute;
    top: -28px;
    right: 0;
    border-width: 15px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

/* SEARCH BOX */
.header__search-select {
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-right: 5px;
}

.header__search-title {
    font-size: 1.4rem;
    color: rgb(66, 65, 65);


}

.header__search-icon {
    font-size: 2rem;
    margin-left: 3px;

}

.header__search-btn {
    background-color: var(--primary-color);
    height: 34px;
    border: none;
    border-radius: 3px;
    width: 50px;
    margin: 3px;

}

.header__search-btn:hover {
    cursor: pointer;
    opacity: 0.7;

}

.header__search-btn-icon {
    font-size: 2.4rem;

}